@font-face {
  font-family: 'title';
  src: url(./fonts/Oxygen-Bold.ttf);
}

@font-face {
  font-family: 'text';
  src: url(./fonts/Oxygen-Light.ttf);
}

@font-face {
  font-family: 'sub-text';
  src: url(./fonts/Oxygen-Regular.ttf);
}

* {
  padding: 0px;
  margin: 0px;
}

$brown: #b27e22;
$beige: #f3e4dd;
$light-gray: #f8f8f8;
$pard: #8a664c;
$black: #222222;

body {
  font-family: text;
  letter-spacing: 1px;
  color: $black;
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  border-bottom: 0.3px solid $beige;
  box-shadow: 0px 1px 5px $beige;
  @media (min-width: 1200px) {
    justify-content:flex-end;
  }
}

.menu__item-container {
  display: flex;
}

.menu__item {
  font-size: 20px;
  padding: 7px;
  color: $pard;
  margin: 0px 5px;
  @media (min-width: 1200px) {
    margin: 5px 15px;
  }
}

.menu__link {
  transition: all .5s ease 0s;
  text-decoration: none;
  color: $pard;
  border-radius: 35px;
  margin: 0px 30px;
  &:hover {
    background-color: transparentize($color: $beige, $amount: .7 );
  }
}

.footer-conatiner {
  font-family: 'text';
  position: relative;
  bottom: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border-top: 0.3px solid $beige;
  box-shadow: 0px -.5px 2px $beige;
  margin-top: 30px;
  .footer__item {
    display: none;
  }
  @media (min-width: 1200px) {
    .footer__mobil-version {
      display: none;
    }

    a {
      text-decoration: none;
      color: $brown;
      &:hover {
        color: $pard;
      }
    }

    .footer__item {
      display: inherit;
      margin: 3%;
      padding: 0% 3.5%;
    }
  }
}

.footer__mobil-version {
  font-size: 20px;
  padding: 7px 10px;
  border-radius: 25px;
  background-color: $light-gray   ;
  a {
    font-size: 16px;
    text-decoration: none;
    color: $pard;
  }
  &:hover {
    color: $pard;
    opacity: .9;
  }
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.card-container {
  text-align: center;
  border: 0.5px solid $beige;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  height: auto;
  font-size: 10px;
  padding: 7px 14px;
  margin-top: 60px;
  text-align: center;
  .card__title {
    font-family: 'title';
  }
  @media (min-width: 1200px) {
    width: 28vw;
    height: 70vh;
    margin: 20px 15px;
  }
}

.card__image-container {
  display: flex;
  justify-content: center;
  height: 350px;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  margin-bottom: 10px;
  @media (min-width: 1200px) {
    height: 200PX;
    width: 250px;
    align-items: center;
  }
}

.card__image__image {
  width: 60%;
  height: 60%;
  object-fit: contain;
  @media (min-width: 1200px) {
    width: 115%;
    height: 115%;
  }
}

.card__button-container{
  justify-self: end;
  .card__button {
    width: 100px;
    height: 30px;
    background-color: $light-gray;
    border: 0.4px solid $beige;
    border-radius: 25px;
    margin: 15px 0px;
    font-family: 'text';
    color: $pard;
    cursor: pointer;
    &:hover {
      opacity: .8;
      box-shadow: .5px .5px 7px $beige;
    }
  }
}

.detail-container {
  .detail__title {
    font-family: 'title';
    font-size: 20px;
    margin: 30px 20px;
    text-align: center;
  }

  .detail__price, .detail__description {
    margin: 30px 20px;
  }

  .detail__category__title, .detail__rating__title {
    margin: 0px 20px;
  }

  .detail__category, .detail__rating__list {
    margin: 0px 20px;
    margin-bottom: 30px;
    list-style-type: none;
  }

  @media (min-width:1200px) {
    border: 0.5px solid $beige;
    box-shadow: 2px 2px 10px 7px $light-gray;
    width: 80vw;
    height: auto;
    margin: 50px 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

     .detail__section {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 30vw;

      .detail__price, .detail__description {
        margin: 5px 0px;
      }

      .detail__category {
        margin: 0px;
        margin-bottom: 5px 0px;
      }

      .detail__rating__title, .detail__category__title {
        margin: 0px 0px;
        margin-top: 5px;
      }

      .detail__rating__list {
        margin: 0px 0px;
        margin-bottom: 30px;
      }
     }
  }
}

.deatil__image-conatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
  padding: 10px;
  width: 40vw;
  width: 70vh;
  padding: 50px;
}

.deatil__image {
  margin: 10px 0px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
