* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 1px;
}

$mustard: #e29b2f;
$brown: #b27e22;
$terra: #c66b38;
$blue: #95a3a5;
$green: #a2a588;
$beige: #f3e4dd;
$pard: #8a664c;


.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: $terra;
  @media (min-width: 1200px) {
    justify-content:flex-end;
  }
}

.menu__item-container {
  display: flex;
}

.menu__item {
  font-size: 20px;
  padding: 7px;
  color: $beige;
  margin: 0px 5px;
  @media (min-width: 1200px) {
    margin: 5px 15px;
  }
}

.menu__link {
  transition: all .5s ease 0s;
  text-decoration: none;
  color: $beige;
  border-radius: 35px;
  margin: 0px 30px;
  &:hover {
    background-color: transparentize($color: $mustard, $amount: .7 );
  }
}

.footer-conatiner {
  position: relative  ;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #dadada;
  .footer__item {
    display: none;
  }
  @media (min-width: 1200px) {
    .footer__mobil-version {
      display: none;
    }

    a {
      text-decoration: none;
      color: $blue;
      &:hover {
        color: $pard;
      }
    }

    .footer__item {
      display: inherit;
      margin: 3%;
      padding: 0% 3.5%;
    }
  }
}

.footer__mobil-version {
  font-size: 20px;
  padding: 7px 10px;
  border-radius: 25px;
  background-color: $mustard;
  a {
    text-decoration: none;
    color: $beige;
  }
  &:hover {
    color: $blue;
    opacity: .9;
  }
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.card-container {
  border: 0.5px solid $beige;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  height: auto;
  font-size: 10px;
  padding: 7px 14px;
  margin-top: 15px;
  @media (min-width: 1200px) {
    width: 20vw;
    height: 60vh;
    margin: 20px;
  }
}

.card__image-container {
  display: flex;
  justify-content: center;
  height: 350px;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  margin-bottom: 10px;
  @media (min-width: 1200px) {
    height: 200PX;
    width: 250px;
    align-items: center;
  }
}

.card__image__image {
  width: 60%;
  height: 60%;
  object-fit: contain;
  @media (min-width: 1200px) {
    width: 115%;
    height: 115%;
  }
}

.card__button-container{
  justify-self: end;
  .card__button {
    width: 100px;
    height: 30px;
    background-color: $mustard;
    border: 0.4px solid $blue;
    border-radius: 25px;
    margin: 15px 0px;
    cursor: pointer;
    &:hover {
      opacity: .8;
    }
  }
}
