* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 1px;
}

$mustard: #e29b2f;
$brown: #b27e22;
$terra: #c66b38;
$blue: #95a3a5;
$green: #a2a588;
$beige: #f3e4dd;
$pard: #8a664c;


.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: $terra;
}

.menu__item {
  font-size: 20px;
  border-radius: 35px;
  padding: 1.5%;
  margin: 5%;
  color: $beige;
  transition: all .5s ease 0s;
  .menu__link {
    text-decoration: none;
    color: $beige;
  }
  &:hover {
    background-color: transparentize($color: $mustard, $amount: .7 );
  }
}

.footer-conatiner {
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #dadada;
  .footer__item {
    display: none;
  }
  @media (min-width: 1200px){
    .footer__mobil-version {
      display: none;
    }

    a {
      text-decoration: none;
      color: $blue;
      &:hover {
        color: $pard;
      }
    }

    .footer__item {
      display: inherit;
      margin: 3%;
      padding: 0% 3.5%;
    }
  }
}

.footer__mobil-version {
  font-size: 20px;
  padding: 3.5%;
  border-radius: 30px;
  background-color: $mustard;
  a {
    text-decoration: none;
    color: $beige;
  }
  &:hover {
    color: $blue;
    opacity: .9;
  }
}
